.gridbox {
    margin: auto;
    /* padding: 15px; */
    width: 85%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid grey;
    border-radius: 5px;
}

.content {
    height: 350px;
}

.left{
    padding: 15px;
}

.right {
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
}

a {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}